:root { /* variables for stylesheet */
    --left_Image: 1%;
    --left_Text: 9%; /* 8% higher then the image seems to work */
}

* {
    box-sizing: border-box;
}

body {
    background-color: #444444;
    background-image: url(../WoolLib/assets/background-rpg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.textBox {
    width: 90%;
    min-height: 30%;
    max-height: 50%;
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    right: 2.5%;
    /*background-color: #34495e;*/
    color: white; /*text color*/
    padding: 2.5%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: gainsboro 4px inset;
    background-image: linear-gradient(to bottom right, #34495e, #4c6786);
}

.avatar {
    content: url("../WoolLib/assets/ricardo-cat.png");
    border: gainsboro 2px inset;
    border-radius: 4px;
    padding: 2px;
    /*position: relative; !* Position has to be absolute *!*/
    max-width: 10%;
    max-height: 10%;
    float: left;
}

.title {
    width: 65%;
    height: 100%;
    float: right;
    position: relative;
    margin-left: 15%;
    /*overflow: hidden;*/
    top: -150px;
    /*animation: typing 3s;*/
    /*animation: typing 3s steps(40, end) forwards;*/
}

/*@keyframes typing {*/
/*    from { width: 0 }*/
/*    to { width: 100% }*/
/*}*/

/*!* The typing effect *!*/
/*@keyframes typing {*/
/*    from { width: 0 }*/
/*    to { width: 100% }*/
/*}*/

.text {
    width: 60%;
    position: relative; /* Position has to be relative for flex */
    /*left: var(--left_Text);*/
    /*top: -30px;*/
    align-self: end;
    float: right;
    top: -150px;
}

.button {
    background-color: #008CBA;
    /*position: relative; !* Position has to be relative for flex *!*/
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    border-radius: 2px;
    /*border: 3px solid #008CBA;*/
    transition-duration: 0.4s;
    border: gainsboro 2px inset;
}

.button:hover {
    background: radial-gradient(circle, #00a4ba, #008CBA);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}


.button:active {
    background: radial-gradient(circle, #00baba, #00a4ba);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2);
}

@media only screen and (max-width: 420px) {
    body {
        background-size: 200%;
    }

    .textBox {
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .avatar {
        border: gainsboro 2px inset;
        border-radius: 4px;
        padding: 2px;
        /*position: relative; !* Position has to be absolute *!*/
        max-width: 30%;
        max-height: 30%;
        float: left;
    }

    .title {
        width: 65%;
        margin-left: 35%;
        top: -110px;
    }

    .text {
        width: 60%;
        align-self: center;
        float: none;
        top: -110px;
    }

}