body{
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 2rem 20rem;
    flex-wrap: nowrap;
}

.agent-data, .user-data{
    display: flex;
    flex-direction: row;
}

.reply-container{
    display: flex;
}

p[class*="reply"], p[class^="user"], .end-dialogue {
    width: fit-content;
    max-width: 60%;
    padding: 0.4em 1.25em 0.4em 1em;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

p[class*="reply"]{
    background-color: beige;
    margin-right: 0.7em;
    color: blueviolet;
    cursor: pointer;
}

p[class*="reply"]:hover{
    box-shadow: none;
}

p[class*="reply"]:active{
    background-color: aliceblue;
}

p[class^="user"], .end-dialogue{
    margin-left: auto;
    background-color: beige;
    color: blueviolet;
}
